<div class="row">
    <div class="col-md-6 mx-auto">
        <form action="/users/register" method="POST">
            <div class="card card-body">
                <h3>Create Account</h3>
                {{!-- email --}}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" value="{{email}}" class="form-control">
                </div>

                {{!-- full name --}}
                <div class="row">
                    {{!-- first name --}}
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" name="f_name" value="{{f_name}}" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        {{!-- last name --}}
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" name="l_name" value="{{l_name}}" class="form-control">
                        </div>
                    </div>
                </div>
                {{!-- end full name --}}

                {{!-- username --}}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" value="{{username}}" class="form-control">
                </div>

                {{!-- password --}}
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" value="{{password}}" class="form-control">
                </div>

                {{!-- confirm password --}}
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" name="confirm_password" value="{{confirm_password}}" class="form-control">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success form-control">Create</button>
                </div>

            </div>

            <div class="card card-footer">
                <a href="/users/login" class="card-text text-center text-muted ">Already have an account ?</a>
            </div>
        </form>

    </div>

</div>